.App {
  font-family: sans-serif;
  text-align: center;
}

.weatherCardList {
  display: grid;
  grid-template-columns: 100px repeat(7, 100px);
  justify-content: left;
  grid-gap: 10px;
}

.weatherCard {
  display: grid;
  border: 1px solid darkslategrey;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px auto 50px;
}

.weatherCard:hover {
  background-color: lightgray;
}

.weatherCard > i {
  grid-column-start: 1;
  grid-column-end: 3;
}

.weatherCardDate {
  grid-column-start: 1;
  grid-column-end: 3;
}

.weatherCard > div {
  padding: 10px;
}

.hi {
  color: blue;
}

.hourList {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
